In [14]:
%pip install jupysql

Requirement already satisfied: jupysql in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (0.11.1)
Requirement already satisfied: prettytable>=3.12.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupysql) (3.16.0)
Requirement already satisfied: sqlalchemy in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupysql) (2.0.42)
Requirement already satisfied: sqlparse in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupysql) (27.8.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupysql) (0.2.27)
Requirement already satisfied: pyyaml in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog>=3.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ploomber-core>=0.2.7->jupysql) (6.6.0)
Requirement already satisfied: wcwidth in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from sqlalchemy->jupysql) (4.14.1)
Requirement already satisfied: requests<3.0,>=2.7 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.4)
Requirement already satisfied: six>=1.5 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: python-dateutil>=2.2 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: backoff>=1.10.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: distro>=1.5.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2025.8.3)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [18]:
%pip install jupyterlab-sql-editor

Collecting jupyterlab-sql-editor
  Downloading jupyterlab_sql_editor-1.6.1-py3-none-any.whl.metadata (6.2 kB)
Collecting cccs-ipyaggrid>=0.5.3 (from jupyterlab-sql-editor)
  Downloading cccs_ipyaggrid-0.5.6-py2.py3-none-any.whl.metadata (2.3 kB)
Collecting ipydatagrid (from jupyterlab-sql-editor)
  Downloading ipydatagrid-1.4.0-py3-none-any.whl.metadata (5.8 kB)
Collecting ipytree (from jupyterlab-sql-editor)
  Downloading ipytree-0.2.2-py2.py3-none-any.whl.metadata (849 bytes)
Collecting ipywidgets (from jupyterlab-sql-editor)
  Using cached ipywidgets-8.1.7-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: jinja2 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyterlab-sql-editor) (3.1.6)
Collecting jupyter-events>=0.6.1 (from jupyterlab-sql-editor)
  Downloading jupyter_events-0.12.0-py3-none-any.whl.metadata (5.8 kB)
Collecting jupyter-lsp>=2.2.0 (from jupyterlab-sql-editor)
  Downloading jupyter_lsp-2.2.6-py3-none-any.whl.metadata (1.8 kB)
Collecting jupyterlab-lsp>=5.0.0 (from jupyterlab-sql-editor)
  Downloading jupyterlab_lsp-5.2.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: pandas>=1.4.4 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyterlab-sql-editor) (2.3.1)
Collecting ply (from jupyterlab-sql-editor)
  Downloading ply-3.11-py2.py3-none-any.whl.metadata (844 bytes)
Collecting python-lsp-server[all] (from jupyterlab-sql-editor)
  Downloading python_lsp_server-1.13.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: sqlalchemy in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyterlab-sql-editor) (2.0.42)
Requirement already satisfied: sqlglot[rs] in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyterlab-sql-editor) (27.8.0)
Requirement already satisfied: sqlparse in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyterlab-sql-editor) (0.5.3)
Collecting simplejson>=3.13.2 (from cccs-ipyaggrid>=0.5.3->jupyterlab-sql-editor)
  Downloading simplejson-3.20.1-cp313-cp313-macosx_11_0_arm64.whl.metadata (3.3 kB)
Requirement already satisfied: comm>=0.1.3 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipywidgets->jupyterlab-sql-editor) (0.2.3)
Requirement already satisfied: ipython>=6.1.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipywidgets->jupyterlab-sql-editor) (9.4.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipywidgets->jupyterlab-sql-editor) (5.14.3)
Collecting widgetsnbextension~=4.0.14 (from ipywidgets->jupyterlab-sql-editor)
  Using cached widgetsnbextension-4.0.14-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab_widgets~=3.0.15 (from ipywidgets->jupyterlab-sql-editor)
  Using cached jupyterlab_widgets-3.0.15-py3-none-any.whl.metadata (20 kB)
Collecting jsonschema>=4.18.0 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading jsonschema-4.25.1-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: packaging in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyter-events>=0.6.1->jupyterlab-sql-editor) (25.0)
Collecting python-json-logger>=2.0.4 (from jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading python_json_logger-3.3.0-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: pyyaml>=5.3 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyter-events>=0.6.1->jupyterlab-sql-editor) (6.0.2)
Collecting referencing (from jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading referencing-0.36.2-py3-none-any.whl.metadata (2.8 kB)
Collecting rfc3339-validator (from jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting rfc3986-validator>=0.1.1 (from jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl.metadata (1.7 kB)
Collecting jupyter_server>=1.1.2 (from jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading jupyter_server-2.16.0-py3-none-any.whl.metadata (8.5 kB)
Collecting jupyterlab<5.0.0a0,>=4.1.0 (from jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor)
  Downloading jupyterlab-4.5.0a3-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: numpy>=1.26.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from pandas>=1.4.4->jupyterlab-sql-editor) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from pandas>=1.4.4->jupyterlab-sql-editor) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from pandas>=1.4.4->jupyterlab-sql-editor) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from pandas>=1.4.4->jupyterlab-sql-editor) (2025.2)
Collecting bqplot>=0.11.6 (from ipydatagrid->jupyterlab-sql-editor)
  Downloading bqplot-0.12.45-py2.py3-none-any.whl.metadata (6.4 kB)
Collecting py2vega>=0.5 (from ipydatagrid->jupyterlab-sql-editor)
  Downloading py2vega-0.6.1-py3-none-any.whl.metadata (874 bytes)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jinja2->jupyterlab-sql-editor) (3.0.2)
Collecting docstring-to-markdown (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading docstring_to_markdown-0.17-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: jedi<0.20.0,>=0.17.2 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from python-lsp-server[all]->jupyterlab-sql-editor) (0.19.2)
Requirement already satisfied: pluggy>=1.0.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from python-lsp-server[all]->jupyterlab-sql-editor) (1.6.0)
Collecting python-lsp-jsonrpc<2.0.0,>=1.1.0 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading python_lsp_jsonrpc-1.1.2-py3-none-any.whl.metadata (1.5 kB)
Collecting ujson>=3.0.0 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading ujson-5.10.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (9.3 kB)
Collecting black (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading black-25.1.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (81 kB)
Collecting autopep8<2.1.0,>=2.0.4 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading autopep8-2.0.4-py2.py3-none-any.whl.metadata (17 kB)
Collecting flake8<8,>=7.1 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading flake8-7.3.0-py2.py3-none-any.whl.metadata (3.8 kB)
Collecting mccabe<0.8.0,>=0.7.0 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading mccabe-0.7.0-py2.py3-none-any.whl.metadata (5.0 kB)
Collecting pycodestyle<2.13.0,>=2.12.0 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading pycodestyle-2.12.1-py2.py3-none-any.whl.metadata (4.5 kB)
Collecting pydocstyle<6.4.0,>=6.3.0 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading pydocstyle-6.3.0-py3-none-any.whl.metadata (3.7 kB)
Collecting pyflakes<3.3.0,>=3.2.0 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading pyflakes-3.2.0-py2.py3-none-any.whl.metadata (3.5 kB)
Collecting pylint<4,>=3.1 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading pylint-3.3.8-py3-none-any.whl.metadata (12 kB)
Collecting rope>=1.11.0 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading rope-1.14.0-py3-none-any.whl.metadata (6.5 kB)
Collecting yapf>=0.33.0 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading yapf-0.43.0-py3-none-any.whl.metadata (46 kB)
Collecting whatthepatch<2.0.0,>=1.0.2 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading whatthepatch-1.0.7-py3-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from sqlalchemy->jupyterlab-sql-editor) (4.14.1)
Collecting sqlglotrs==0.6.1 (from sqlglot[rs]->jupyterlab-sql-editor)
  Downloading sqlglotrs-0.6.1-cp313-cp313-macosx_11_0_arm64.whl.metadata (545 bytes)
Collecting traittypes>=0.0.6 (from bqplot>=0.11.6->ipydatagrid->jupyterlab-sql-editor)
  Downloading traittypes-0.2.1-py2.py3-none-any.whl.metadata (1.0 kB)
INFO: pip is looking at multiple versions of flake8 to determine which version is compatible with other requirements. This could take a while.
Collecting flake8<8,>=7.1 (from python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading flake8-7.2.0-py2.py3-none-any.whl.metadata (3.8 kB)
  Downloading flake8-7.1.2-py2.py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: decorator in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets->jupyterlab-sql-editor) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets->jupyterlab-sql-editor) (1.1.1)
Requirement already satisfied: matplotlib-inline in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets->jupyterlab-sql-editor) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets->jupyterlab-sql-editor) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets->jupyterlab-sql-editor) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets->jupyterlab-sql-editor) (2.19.2)
Requirement already satisfied: stack_data in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets->jupyterlab-sql-editor) (0.6.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jedi<0.20.0,>=0.17.2->python-lsp-server[all]->jupyterlab-sql-editor) (0.8.4)
Collecting attrs>=22.2.0 (from jsonschema>=4.18.0->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading attrs-25.3.0-py3-none-any.whl.metadata (10 kB)
Collecting jsonschema-specifications>=2023.03.6 (from jsonschema>=4.18.0->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading jsonschema_specifications-2025.4.1-py3-none-any.whl.metadata (2.9 kB)
Collecting rpds-py>=0.7.1 (from jsonschema>=4.18.0->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading rpds_py-0.27.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (4.2 kB)
Collecting fqdn (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading fqdn-1.5.1-py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: idna in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor) (3.10)
Collecting isoduration (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading isoduration-20.11.0-py3-none-any.whl.metadata (5.7 kB)
Collecting jsonpointer>1.13 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading jsonpointer-3.0.0-py2.py3-none-any.whl.metadata (2.3 kB)
Collecting rfc3987-syntax>=1.1.0 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading rfc3987_syntax-1.1.0-py3-none-any.whl.metadata (7.7 kB)
Collecting uri-template (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading uri_template-1.3.0-py3-none-any.whl.metadata (8.8 kB)
Collecting webcolors>=24.6.0 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.1->jupyterlab-sql-editor)
  Downloading webcolors-24.11.1-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: anyio>=3.1.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor) (4.10.0)
Collecting argon2-cffi>=21.1 (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading argon2_cffi-25.1.0-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: jupyter-client>=7.4.4 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor) (5.8.1)
Collecting jupyter-server-terminals>=0.4.4 (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl.metadata (5.6 kB)
Collecting nbconvert>=6.4.4 (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading nbconvert-7.16.6-py3-none-any.whl.metadata (8.5 kB)
Collecting nbformat>=5.3.0 (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading nbformat-5.10.4-py3-none-any.whl.metadata (3.6 kB)
Collecting overrides>=5.0 (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading overrides-7.7.0-py3-none-any.whl.metadata (5.8 kB)
Collecting prometheus-client>=0.9 (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading prometheus_client-0.22.1-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: pyzmq>=24 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor) (27.0.1)
Collecting send2trash>=1.8.2 (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading Send2Trash-1.8.3-py3-none-any.whl.metadata (4.0 kB)
Collecting terminado>=0.8.3 (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading terminado-0.18.1-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: tornado>=6.2.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor) (6.5.2)
Collecting websocket-client>=1.7 (from jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading websocket_client-1.8.0-py3-none-any.whl.metadata (8.0 kB)
Collecting async-lru>=1.0.0 (from jupyterlab<5.0.0a0,>=4.1.0->jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor)
  Downloading async_lru-2.0.5-py3-none-any.whl.metadata (4.5 kB)
Collecting httpx<1,>=0.25.0 (from jupyterlab<5.0.0a0,>=4.1.0->jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor)
  Using cached httpx-0.28.1-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: ipykernel!=6.30.0,>=6.5.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from jupyterlab<5.0.0a0,>=4.1.0->jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor) (6.30.1)
Collecting jupyterlab-server<3,>=2.27.1 (from jupyterlab<5.0.0a0,>=4.1.0->jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor)
  Downloading jupyterlab_server-2.27.3-py3-none-any.whl.metadata (5.9 kB)
Collecting notebook-shim>=0.2 (from jupyterlab<5.0.0a0,>=4.1.0->jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor)
  Downloading notebook_shim-0.2.4-py3-none-any.whl.metadata (4.0 kB)
Collecting setuptools>=41.1.0 (from jupyterlab<5.0.0a0,>=4.1.0->jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor)
  Using cached setuptools-80.9.0-py3-none-any.whl.metadata (6.6 kB)
Collecting gast<0.5,>=0.4.0 (from py2vega>=0.5->ipydatagrid->jupyterlab-sql-editor)
  Downloading gast-0.4.0-py3-none-any.whl.metadata (1.1 kB)
Collecting snowballstemmer>=2.2.0 (from pydocstyle<6.4.0,>=6.3.0->python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading snowballstemmer-3.0.1-py3-none-any.whl.metadata (7.9 kB)
Collecting astroid<=3.4.0.dev0,>=3.3.8 (from pylint<4,>=3.1->python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading astroid-3.3.11-py3-none-any.whl.metadata (4.4 kB)
Collecting dill>=0.3.6 (from pylint<4,>=3.1->python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading dill-0.4.0-py3-none-any.whl.metadata (10 kB)
Collecting isort!=5.13,<7,>=4.2.5 (from pylint<4,>=3.1->python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading isort-6.0.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: platformdirs>=2.2 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from pylint<4,>=3.1->python-lsp-server[all]->jupyterlab-sql-editor) (4.3.8)
Collecting tomlkit>=0.10.1 (from pylint<4,>=3.1->python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading tomlkit-0.13.3-py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: six>=1.5 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.4.4->jupyterlab-sql-editor) (1.17.0)
Collecting pytoolconfig>=1.2.2 (from pytoolconfig[global]>=1.2.2->rope>=1.11.0->python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading pytoolconfig-1.3.1-py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: click>=8.0.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from black->python-lsp-server[all]->jupyterlab-sql-editor) (8.2.1)
Collecting mypy-extensions>=0.4.3 (from black->python-lsp-server[all]->jupyterlab-sql-editor)
  Downloading mypy_extensions-1.1.0-py3-none-any.whl.metadata (1.1 kB)
Collecting pathspec>=0.9.0 (from black->python-lsp-server[all]->jupyterlab-sql-editor)
  Using cached pathspec-0.12.1-py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: importlib-metadata>=3.6 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from docstring-to-markdown->python-lsp-server[all]->jupyterlab-sql-editor) (8.7.0)
Requirement already satisfied: sniffio>=1.1 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from anyio>=3.1.0->jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor) (1.3.1)
Collecting argon2-cffi-bindings (from argon2-cffi>=21.1->jupyter_server>=1.1.2->jupyter-lsp>=2.2.0->jupyterlab-sql-editor)
  Downloading argon2_cffi_bindings-25.1.0-cp39-abi3-macosx_11_0_arm64.whl.metadata (7.4 kB)
Requirement already satisfied: certifi in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from httpx<1,>=0.25.0->jupyterlab<5.0.0a0,>=4.1.0->jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor) (2025.8.3)
Collecting httpcore==1.* (from httpx<1,>=0.25.0->jupyterlab<5.0.0a0,>=4.1.0->jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor)
  Using cached httpcore-1.0.9-py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: h11>=0.16 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from httpcore==1.*->httpx<1,>=0.25.0->jupyterlab<5.0.0a0,>=4.1.0->jupyterlab-lsp>=5.0.0->jupyterlab-sql-editor) (0.16.0)

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///demo.db

Connecting to 'sqlite:///demo.db'

- employees
- orders
- sales

In [3]:
%%sql
select * from employees

Running query in 'sqlite:///demo.db'

+--------+------------+-------+--------+------------+
| emp_id | department |  name | salary | hire_date  |
+--------+------------+-------+--------+------------+
|   1    |     HR     | Alice | 50000  | 2019-01-01 |
|   2    |     HR     |  Bob  | 52000  | 2020-03-15 |
|   3    |     IT     | Carol | 70000  | 2018-07-20 |
|   4    |     IT     |  Dave | 72000  | 2021-02-10 |
|   5    |     IT     |  Eva  | 69000  | 2017-11-11 |
+--------+------------+-------+--------+------------+

In [4]:
%%sql 
select * from orders

Running query in 'sqlite:///demo.db'

+----------+---------+-----------+------------+
| order_id | user_id |   status  | order_date |
+----------+---------+-----------+------------+
|   101    |   U01   |  shipped  | 2023-03-01 |
|   102    |   U01   | cancelled | 2023-03-05 |
|   103    |   U02   |  shipped  | 2023-03-06 |
|   104    |   U03   |  shipped  | 2023-03-07 |
|   105    |   U01   |  shipped  | 2023-03-08 |
|   106    |   U02   |  shipped  | 2023-03-10 |
+----------+---------+-----------+------------+

In [5]:
%%sql 
select * from sales

Running query in 'sqlite:///demo.db'

+---------+-------------+---------+--------+------------+
| sale_id | customer_id | product | amount | sale_date  |
+---------+-------------+---------+--------+------------+
|    1    |     C01     |  Laptop |  1200  | 2023-01-10 |
|    2    |     C02     |  Phone  |  800   | 2023-01-11 |
|    3    |     C01     |  Tablet |  600   | 2023-01-15 |
|    4    |     C03     |  Laptop |  1300  | 2023-02-01 |
|    5    |     C02     |  Laptop |  1250  | 2023-02-05 |
|    6    |     C01     |  Phone  |  700   | 2023-02-10 |
+---------+-------------+---------+--------+------------+

### example question
For each customer, show their total spending — but still list each individual sale

Use tables: 
- sales

In [ ]:
%%sql
select 
    customer_id,
    sum(amount) over (partition by customer_id) as total_consumed_per_costumer
from sales

Running query in 'sqlite:///demo.db'

+-------------+-----------------------------+
| customer_id | total_consumed_per_costumer |
+-------------+-----------------------------+
|     C01     |             2500            |
|     C01     |             2500            |
|     C01     |             2500            |
|     C02     |             2050            |
|     C02     |             2050            |
|     C03     |             1300            |
+-------------+-----------------------------+

### Example question
Task: For each customer, rank their purchases by amount (largest = rank 1).

Tables to use: 
- sales

In [34]:
%%sql
SELECT 
    customer_id,
    sale_id,
    amount,
    RANK() OVER (PARTITION BY customer_id ORDER BY amount DESC) AS rank_in_customer
FROM sales

Running query in 'sqlite:///demo.db'

+-------------+---------+--------+------------------+
| customer_id | sale_id | amount | rank_in_customer |
+-------------+---------+--------+------------------+
|     C01     |    1    |  1200  |        1         |
|     C01     |    6    |  700   |        2         |
|     C01     |    3    |  600   |        3         |
|     C02     |    5    |  1250  |        1         |
|     C02     |    2    |  800   |        2         |
|     C03     |    4    |  1300  |        1         |
+-------------+---------+--------+------------------+

## switching to duckDB

In [35]:
%pip install duckdb

Collecting duckdb
  Downloading duckdb-1.3.2-cp313-cp313-macosx_12_0_arm64.whl.metadata (7.0 kB)
Downloading duckdb-1.3.2-cp313-cp313-macosx_12_0_arm64.whl (15.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.5/15.5 MB 31.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: duckdb
Successfully installed duckdb-1.3.2

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [39]:
%pip install duckdb-engine

Collecting duckdb-engine
  Downloading duckdb_engine-0.17.0-py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: duckdb>=0.5.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from duckdb-engine) (1.3.2)
Requirement already satisfied: packaging>=21 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from duckdb-engine) (25.0)
Requirement already satisfied: sqlalchemy>=1.3.22 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from duckdb-engine) (2.0.42)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/t65970/homebrew/opt/pyenv/versions/experiments/lib/python3.13/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.14.1)
Downloading duckdb_engine-0.17.0-py3-none-any.whl (49 kB)
Installing collected packages: duckdb-engine
Successfully installed duckdb-engine-0.17.0

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [40]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [41]:
%sql duckdb:///:memory:

Connecting and switching to connection 'duckdb:///:memory:'

create table again

In [43]:
%%sql
CREATE TABLE sales (
    sale_id INT,
    customer_id VARCHAR,
    product VARCHAR,
    amount INT,
    sale_date DATE
);

INSERT INTO sales VALUES
(1, 'C01', 'Laptop', 1200, '2023-01-10'),
(2, 'C02', 'Phone', 800, '2023-01-11'),
(3, 'C01', 'Tablet', 600, '2023-01-15'),
(4, 'C03', 'Laptop', 1300, '2023-02-01'),
(5, 'C02', 'Laptop', 1250, '2023-02-05'),
(6, 'C01', 'Phone', 700, '2023-02-10');

Running query in 'duckdb:///:memory:'

+-------+
| Count |
+-------+
+-------+

In [47]:
%%sql
SELECT 
    customer_id,
    sale_id,
    amount,
    RANK() OVER (PARTITION BY customer_id ORDER BY amount DESC) AS rank_in_customer
FROM sales
QUALIFY rank_in_customer = 1;

Running query in 'duckdb:///:memory:'

+-------------+---------+--------+------------------+
| customer_id | sale_id | amount | rank_in_customer |
+-------------+---------+--------+------------------+
|     C01     |    1    |  1200  |        1         |
|     C03     |    4    |  1300  |        1         |
|     C02     |    5    |  1250  |        1         |
+-------------+---------+--------+------------------+

### Task: 
Find the most recent order per user from the orders table

In [54]:
%%sql
select * from orders

Running query in 'duckdb:///:memory:'

+----------+---------+-----------+------------+
| order_id | user_id |   status  | order_date |
+----------+---------+-----------+------------+
|   101    |   U01   |  shipped  | 2023-03-01 |
|   102    |   U01   | cancelled | 2023-03-05 |
|   103    |   U02   |  shipped  | 2023-03-06 |
|   104    |   U03   |  shipped  | 2023-03-07 |
|   105    |   U01   |  shipped  | 2023-03-08 |
|   106    |   U02   |  shipped  | 2023-03-10 |
+----------+---------+-----------+------------+

In [ ]:
%%sql
SELECT
    customer_id,
    sale_date,
    RANK() OVER (PARTITION BY customer_id ORDER BY sale_date DESC) as rank_date 
FROM orders 
QUALIFY rank_date = 1

Running query in 'duckdb:///:memory:'

+-------------+------------+-----------+
| customer_id | sale_date  | rank_date |
+-------------+------------+-----------+
|     C02     | 2023-01-11 |     1     |
|     C01     | 2023-01-10 |     1     |
|     C03     | 2023-02-01 |     1     |
+-------------+------------+-----------+

## Task: 
Find the highest-paid employee in each department. Use the table of `employees`

In [59]:
%%sql 
select 
    emp_id,
    rank() over (partition by department order by salary desc) highest_paid
from employees
qualify highest_paid = 1

Running query in 'duckdb:///:memory:'

+--------+--------------+
| emp_id | highest_paid |
+--------+--------------+
|   13   |      1       |
|   8    |      1       |
|   3    |      1       |
+--------+--------------+

**follow up**: Instead of just the highest-paid, let’s pull the top 2 earners per department

In [60]:
%%sql 
select * from employees limit 5

Running query in 'duckdb:///:memory:'

+--------+------------+-------+--------+------------+
| emp_id | department |  name | salary | hire_date  |
+--------+------------+-------+--------+------------+
|   1    |     HR     | Alice | 50000  | 2019-01-01 |
|   2    |     HR     |  Bob  | 52000  | 2020-03-15 |
|   3    |     HR     |  Maya | 54000  | 2021-06-10 |
|   4    |     HR     |  Luis | 51000  | 2022-09-20 |
|   5    |     IT     | Carol | 70000  | 2018-07-20 |
+--------+------------+-------+--------+------------+

In [73]:
%%sql
select
    emp_id,
    salary,
    department,
    row_number() over (partition by department order by salary desc) as highest_salary
from employees
qualify highest_salary<=2

Running query in 'duckdb:///:memory:'

+--------+--------+------------+----------------+
| emp_id | salary | department | highest_salary |
+--------+--------+------------+----------------+
|   3    | 54000  |     HR     |       1        |
|   2    | 52000  |     HR     |       2        |
|   13   | 68000  |  Finance   |       1        |
|   12   | 66000  |  Finance   |       2        |
|   8    | 73000  |     IT     |       1        |
|   6    | 72000  |     IT     |       2        |
+--------+--------+------------+----------------+